<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div
      class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0"
    >
      <img
        class="about-pic img-fluid rounded-5"
        src="./assets/about.jpeg"
        alt="Sebastiano's about image"
      />
    </div>
    <div
      class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="row w-100">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                {{ getExperienceYears() }}+ years of experience <br />in
                Software Development with <br />a focus on the Frontend side
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Web Development<br />Responsive Web Design<br />Angular
                Development<br />Performance Optimization
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p>
          a passionate and motivated web developer with a strong foundation in
          front-end and back-end development. Although I am a fresher in the
          field, I have developed a deep interest in creating clean, functional,
          and user-friendly websites. I specialize in HTML, CSS, JavaScript, and
          am familiar with popular frameworks like Angular and Node.js. I love
          to stay updated with the latest industry trends and am constantly
          learning new skills to improve my craft. I aim to deliver top-quality
          web solutions tailored to your needs, ensuring great user experiences
          and seamless functionality. In addition to my technical skills, I
          bring a strong work ethic, attention to detail, and effective
          communication skills to every project. I am looking forward to helping
          businesses bring their ideas to life online!
        </p>
      </div>
    </div>
  </div>
</section>
